/* Closet Design with Swinging Doors */
/* Special Thanks to https://www.youtube.com/watch?v=u9m3roJdAD0 */

.closet{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper{
  height: 100vh;
  width: 100%;
  position: relative;
/*   border: 5px solid #61412d; */
  border: 5px solid #D9CCC1;
  perspective: 1000px;
}

.door {
/*   background-color: #61412d; */
  background-color: #D9CCC1;
  height: 100%;
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#left-door {
  top: 0;
  left: 0;
  border-right: 1px solid #59514D;
  transition: transform 0.5s;
  transform-origin: left;
}

#right-door {
  top: 0;
  right: 0;
  border-left: 1px solid #59514D;
  border-right: 1.5px solid #5C4535;
  transition: transform 0.5s;
  transform-origin: right;
}

.shape {
/*   border: 2px solid #BBA79C; */
  border: 2px solid #F2EADF;
  width: 100px;
  height: 130px;
}

.knob {
  background-color: #59514C;
  width: 10px;
  height: 50px;
  position: absolute;
}

#left-knob {
  top: 50%;
  right: 10px;
}

#right-knob {
  top: 50%;
  left: 10px;
}

/* Door Swing Effect */
.wrapper:hover #left-door {
  transform: rotateY(-88deg);
}

.wrapper:hover #right-door {
  transform: rotateY(88deg);
}

/* content inside closet styling */

.box-holder{
  display: flex;
  flex-direction: column;
}

.closet-img{
  height: 40vh;
  width: 50%;
  padding: 10px;
  margin: auto;
}

.closet-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#cosplayPlayer,
#twoThousandPlayer,
#streetwearPlayer{
  height: 300px;
  width: 500px;
  padding: 1rem;
}

.section-title{
  text-align: center;
  opacity: 0;
  transition: all 3s ease;
  transform: translateY(5px);
}

.wrapper:hover .section-title{
  opacity: 1;
  transform: translateY(15px);
}

.individual-section{
  margin: 20px;
}

.more-info{
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  cursor: url(../img/shirt.png), auto !important;
}

.more-info:hover{
  background: #008168
}

.more-info:active{
  background: #006e58
}

.btn-text,
.btn-icon{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  height: 100%;
}

.btn-icon{
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}


/* Responsive */
@media only screen and (max-width: 1400px) {
  .closet{
    display: flex;
    flex-direction: column;
  }

  .wrapper{
    width: 80%;
    margin-bottom: 40px;
  }

  #right-door{
    border-right: none;
  }

  .shape{
    width: 50%;
    height: 350px;
  }

  .box-holder{
    flex-direction: row;
    padding: 1rem;
  }
}

/* Closet styling */
/* .closet{
  margin: 1rem auto;
  outline: 2px solid black;
  width: 90%;
  height: 100vh;
  display: flex; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}*/

/* .box{
  background-color: lightgrey;
  border: 1px solid blue;
  flex: 1;
  transition: 1s;
}

.box:hover{
  flex: 5;
} */

/* #cosplay, #two-thousand, #streetwear{
  outline: 2px solid red;
  height: 100%;
  width: 33%;
  background-color: lightgrey;
} */

/* .title{
  margin-top: 2rem;
  text-align: center;
  font-size: 3.5vw;
} */

/* .image-container{
  outline: 1px black solid;
  width: 70%;
  padding: 2rem;
} */

/* .card-img{
  width: 100%;
  height: 25vh;
  object-fit: cover;
  object-position: top;
} */

/* .image-container img{
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.big-box {
  display: flex;
}

.video-box {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.video-box, .video-box video {
  width:100%;
}

.video-box .cover, .video-box video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 350px;
} */
